<div class="media mb-5">
    <a href="#">
        {% if comment.user.image is not null %}
            <img style="border-radius: 10px; margin-right: 10px; float: left" height="62" WIDTH="62" class="avatar avatar-medium" src="{{ asset('images/'~comment.user.image.source) }}" alt="avatar">
        {% else %}
            <img class="avatar avatar-medium" src="{{ asset('images/news/author-thumbnail.jpg') }}" alt="avatar">
        {% endif %}
    </a>
    <div class="media-body">
        <h5>Par : {{ comment.user.name }}</h5>
        {{ comment.content }}
    </div>
    <!-- End of .media-body -->
</div>