{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <div class="inner-page-banner">
        <div class="container text-center">
            <h1>Modification de "{{ trick.name }}"</h1>
        </div>
        <!-- End of .container -->
    </div>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('Member/trick/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
