<!-- Footer starts
    ======================================= -->
<footer class="small-agency-footer  grey-bg">
    <div class="footer-bottom">
        <div class="container">
            <p class="text-center">&copy; Maxime</p>
        </div>
        <!-- End of .container -->
    </div>
    <!-- End of .footer-content -->
</footer>
<!-- End of footer -->
